

#center {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
 
}

button {
    margin-bottom: 20px;
    margin-top: 5px;
    width: 100px;
    height: 50px;
}
div {
    width: 100px;
    height: 100px;
    background-color: black;
}